In [37]:

# Geocoding is the process of converting an address into latitude and longitude coordinates. 
# Reverse geocoding is the process of converting latitude and longitude coordinates into an address.

import pandas as pd
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='ryan-data')


cities = {"City": ["London", "Berlin", "Madrid", "Rome", 
                   "Paris", "Vienna", "Bucharest", "Hamburg", 
                   "Budapest", "Warsaw", "Barcelona", 
                   "Munich", "Milan"],
          "Population": [8615246, 3562166, 3165235, 2874038,
                         2273305, 1805681, 1803425, 1760433,
                         1754000, 1740119, 1602386, 1493900,
                         1350680],
          "Country": ["England", "Germany", "Spain", "Italy",
                      "France", "Austria", "Romania", 
                      "Germany", "Hungary", "Poland", "Spain",
                      "Germany", "Italy"]}

df = pd.DataFrame(cities)
df

         City  Population  Country
0      London     8615246  England
1      Berlin     3562166  Germany
2      Madrid     3165235    Spain
3        Rome     2874038    Italy
4       Paris     2273305   France
5      Vienna     1805681  Austria
6   Bucharest     1803425  Romania
7     Hamburg     1760433  Germany
8    Budapest     1754000  Hungary
9      Warsaw     1740119   Poland
10  Barcelona     1602386    Spain
11     Munich     1493900  Germany
12      Milan     1350680    Italy

In [38]:

#Importing the required modules
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
 
 
#Creating an instance of Nominatim Class
geolocator = Nominatim(user_agent="ryan_geo")
 
#applying the rate limiter wrapper
# geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
geocode = RateLimiter(geolocator.geocode)
 
#Applying the method to pandas DataFrame
df['location'] = df['Country'].apply(geocode)
df['Lat'] = df['location'].apply(lambda x: x.latitude if x else None)
df['Lon'] = df['location'].apply(lambda x: x.longitude if x else None)
 
df

,City,Population,Country,location,Lat,Lon
0,London,8615246,England,"(England, United Kingdom, (52.5310214, -1.2649...",52.531021,-1.264906
1,Berlin,3562166,Germany,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831
2,Madrid,3165235,Spain,"(España, (39.3260685, -4.8379791))",39.326068,-4.837979
3,Rome,2874038,Italy,"(Italia, (42.6384261, 12.674297))",42.638426,12.674297
4,Paris,2273305,France,"(France, (46.603354, 1.8883335))",46.603354,1.888334
5,Vienna,1805681,Austria,"(Österreich, (47.59397, 14.12456))",47.593970,14.124560
6,Bucharest,1803425,Romania,"(România, (45.9852129, 24.6859225))",45.985213,24.685923
7,Hamburg,1760433,Germany,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831
8,Budapest,1754000,Hungary,"(Magyarország, (47.1817585, 19.5060937))",47.181759,19.506094
9,Warsaw,1740119,Poland,"(Polska, (52.215933, 19.134422))",52.215933,19.134422
10,Barcelona,1602386,Spain,"(España, (39.3260685, -4.8379791))",39.326068,-4.837979
11,Munich,1493900,Germany,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831
12,Milan,1350680,Italy,"(Italia, (42.6384261, 12.674297))",42.638426,12.674297

In [39]:

from geopy.geocoders import Nominatim

out = (
        df.assign(Geocodes= (df['Country']).apply(geolocator.geocode))
          .assign(Latitude = lambda x: [g.latitude for g in x['Geocodes']],
                  Longitude= lambda x: [g.longitude for g in x['Geocodes']])
      )

out

,City,Population,Country,location,Lat,Lon,Geocodes,Latitude,Longitude
0,London,8615246,England,"(England, United Kingdom, (52.5310214, -1.2649...",52.531021,-1.264906,"(England, United Kingdom, (52.5310214, -1.2649...",52.531021,-1.264906
1,Berlin,3562166,Germany,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831
2,Madrid,3165235,Spain,"(España, (39.3260685, -4.8379791))",39.326068,-4.837979,"(España, (39.3260685, -4.8379791))",39.326068,-4.837979
3,Rome,2874038,Italy,"(Italia, (42.6384261, 12.674297))",42.638426,12.674297,"(Italia, (42.6384261, 12.674297))",42.638426,12.674297
4,Paris,2273305,France,"(France, (46.603354, 1.8883335))",46.603354,1.888334,"(France, (46.603354, 1.8883335))",46.603354,1.888334
5,Vienna,1805681,Austria,"(Österreich, (47.59397, 14.12456))",47.593970,14.124560,"(Österreich, (47.59397, 14.12456))",47.593970,14.124560
6,Bucharest,1803425,Romania,"(România, (45.9852129, 24.6859225))",45.985213,24.685923,"(România, (45.9852129, 24.6859225))",45.985213,24.685923
7,Hamburg,1760433,Germany,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831
8,Budapest,1754000,Hungary,"(Magyarország, (47.1817585, 19.5060937))",47.181759,19.506094,"(Magyarország, (47.1817585, 19.5060937))",47.181759,19.506094
9,Warsaw,1740119,Poland,"(Polska, (52.215933, 19.134422))",52.215933,19.134422,"(Polska, (52.215933, 19.134422))",52.215933,19.134422
10,Barcelona,1602386,Spain,"(España, (39.3260685, -4.8379791))",39.326068,-4.837979,"(España, (39.3260685, -4.8379791))",39.326068,-4.837979
11,Munich,1493900,Germany,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831
12,Milan,1350680,Italy,"(Italia, (42.6384261, 12.674297))",42.638426,12.674297,"(Italia, (42.6384261, 12.674297))",42.638426,12.674297

In [42]:

import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.point import Point

geolocator = Nominatim(user_agent="ryan_geo")

from geopy.extra.rate_limiter import RateLimiter
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)
    
out['geo'] = out.apply(lambda row: (str(row.Lat),str(row.Lon)),axis=1)


out['Location'] = out.apply(lambda row: geolocator.reverse(row.geo).address,axis=1)
out

,City,Population,Country,location,Lat,Lon,Geocodes,Latitude,Longitude,geo,Location
0,London,8615246,England,"(England, United Kingdom, (52.5310214, -1.2649...",52.531021,-1.264906,"(England, United Kingdom, (52.5310214, -1.2649...",52.531021,-1.264906,"(52.5310214, -1.2649062)","Coventry Road, Sapcote, Blaby, Leicestershire,..."
1,Berlin,3562166,Germany,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831,"(51.1638175, 10.4478313)","Straße zum Mittelpunkt Deutschlands, Oberdorla..."
2,Madrid,3165235,Spain,"(España, (39.3260685, -4.8379791))",39.326068,-4.837979,"(España, (39.3260685, -4.8379791))",39.326068,-4.837979,"(39.3260685, -4.8379791)","Umbría del Encinarejo, Helechosa de los Montes..."
3,Rome,2874038,Italy,"(Italia, (42.6384261, 12.674297))",42.638426,12.674297,"(Italia, (42.6384261, 12.674297))",42.638426,12.674297,"(42.6384261, 12.674297)","Terni, Umbria, 05100, Italia"
4,Paris,2273305,France,"(France, (46.603354, 1.8883335))",46.603354,1.888334,"(France, (46.603354, 1.8883335))",46.603354,1.888334,"(46.603354, 1.8883335)","D 51, Tranzault, La Châtre, Indre, Centre-Val ..."
5,Vienna,1805681,Austria,"(Österreich, (47.59397, 14.12456))",47.593970,14.124560,"(Österreich, (47.59397, 14.12456))",47.593970,14.124560,"(47.59397, 14.12456)","Stainach-Pürgg, Bezirk Liezen, Steiermark, 895..."
6,Bucharest,1803425,Romania,"(România, (45.9852129, 24.6859225))",45.985213,24.685923,"(România, (45.9852129, 24.6859225))",45.985213,24.685923,"(45.9852129, 24.6859225)","DJ105, Merghindeal, Sibiu, 557141, România"
7,Hamburg,1760433,Germany,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831,"(51.1638175, 10.4478313)","Straße zum Mittelpunkt Deutschlands, Oberdorla..."
8,Budapest,1754000,Hungary,"(Magyarország, (47.1817585, 19.5060937))",47.181759,19.506094,"(Magyarország, (47.1817585, 19.5060937))",47.181759,19.506094,"(47.1817585, 19.5060937)","Homokpusztai gyep TVT, Országközepe út, Puszta..."
9,Warsaw,1740119,Poland,"(Polska, (52.215933, 19.134422))",52.215933,19.134422,"(Polska, (52.215933, 19.134422))",52.215933,19.134422,"(52.215933, 19.134422)","92, Pniewko, Bardzinek, gmina Krośniewice, pow..."
10,Barcelona,1602386,Spain,"(España, (39.3260685, -4.8379791))",39.326068,-4.837979,"(España, (39.3260685, -4.8379791))",39.326068,-4.837979,"(39.3260685, -4.8379791)","Umbría del Encinarejo, Helechosa de los Montes..."
11,Munich,1493900,Germany,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831,"(Deutschland, (51.1638175, 10.4478313))",51.163818,10.447831,"(51.1638175, 10.4478313)","Straße zum Mittelpunkt Deutschlands, Oberdorla..."
12,Milan,1350680,Italy,"(Italia, (42.6384261, 12.674297))",42.638426,12.674297,"(Italia, (42.6384261, 12.674297))",42.638426,12.674297,"(42.6384261, 12.674297)","Terni, Umbria, 05100, Italia"

In [ ]:

# https://geopy.readthedocs.io/en/stable/